{
	"root": true,

	"extends": "@ljharb",

	"rules": {
		"complexity": 0,
		"id-length": [2, { "min": 1, "max": 26 }],
		"max-statements": [2, 14],
		"new-cap": [2, { capIsNewExceptions: ["GetIntrinsic", "ToObject", "ToInteger", "ToLength", "SameValueZero", "RequireObjectCoercible"] }],
	},

	"overrides": [
		{
			"files": "test/**",
			"rules": {
				"max-lines-per-function": 0,
				"no-invalid-this": 1,
			},
		},
	],
}
