.modal-bar {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  left: 0;
  padding: 20px;
  position: fixed;
  pointer-events: none;
  top: 0;
  width: 100%;
  z-index: 30;
}

.animate > .modal-bar {
  transform: translateY(-100%);
  transition: transform 200ms;
}

.animate.-show > .modal-bar {
  transform: translateY(0);
}

.modal-bar > .bar {
  background-color: #fcfcfc;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  color: #101010;
  display: flex;
  font-size: 0.8em;
  max-width: 400px;
  padding: 20px;
  pointer-events: initial;
  position: relative;
}

.modal-bar > .bar > .content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding-right: 20px;
}

.modal-bar > .bar > .open {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-bar > .bar > .close {
  background-color: transparent;
  border: none;
  color: #b6b6b6;
  cursor: pointer;
  position: absolute;
  right: 1px;
  top: 1px;
}

.modal-bar > .bar > .open > .button {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #101010;
  color: #101010;
  cursor: pointer;
  padding: 1em;
}

.modal-bar > .bar > .open > .button:hover {
  background-color: #bcc6fa;
}

.modal-container {
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999999;
}

.modal-container > .modal {
  background: #fcfcfc;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  height: 100%;
  max-height: 400px;
  max-width: 664px;
  padding: 20px 0;
  position: relative;
  width: 100%;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 145px;
}

.sidebar-nav > .links {
  display: flex;
  flex-direction: column;
}

.sidebar-nav > .links > .link {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.37);
  font-size: 1.4em;
  height: 31px;
  margin-bottom: 20px;
  padding: 0 35px;
  text-decoration: none;
  transition: 150ms color ease, 150ms height ease, 150ms margin-bottom ease;
}

.sidebar-nav > .footer > .close {
  background: transparent;
  border: none;
  color: #b6b6b6;
  cursor: pointer;
  width: 100%;
}

.sidebar-nav > .links > .link[aria-current="page"],
.sidebar-nav > .links > .link:hover,
.sidebar-nav > .footer > .close:hover {
  color: #000;
}

.modal-container > .modal > .content {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
  padding: 0 20px;
}

.modal-container > .modal > .sidebar-nav {
  border-right: 1.5px solid rgba(0, 0, 0, 0.37);
}
