{
	"root": true,

	"extends": "@ljharb",

	"rules": {
		"id-length": 0,
		"max-statements": [2, 14],
		"max-statements-per-line": [2, { "max": 2 }],
		"operator-linebreak": [2, "before"],
	},

	"overrides": [
		{
			"files": "test/**",
			"rules": {
				"no-throw-literal": 0,
			},
		},
	],
}
