html,
body,
#root,
iframe {
  height: 100%;
  width: 100%;
}

iframe {
  border: none;
}

body {
  background: #272727;
  color: #f4f4f4;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  overflow: hidden;
}

button {
  font-family: inherit;
}

.coder-splash {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.coder-splash > .logo {
  color: rgba(255, 255, 255, 0.03);
  width: 100%;
}
