html,
body,
#root,
iframe {
  height: 100%;
  width: 100%;
}

iframe {
  border: none;
}

body {
  background: #272727;
  color: #f4f4f4;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  overflow: hidden;
}

button {
  font-family: inherit;
}
