.dialog {
	font-family: inherit;
	box-shadow: 0 12px 16px 0 rgba(29, 64, 126, 0.07);
	background-color: var(--primary);
	display: flex;
	flex-direction: column;
	user-select: none;
	overflow: hidden;
	border-radius: 8px;

	.monaco-tl-twistie {
		display: none;
	}

	.title {
		background-color: var(--header-background);
		color: var(--header-foreground);
		line-height: initial;
		font-size: 1.9em;
		font-weight: 200;
		margin-bottom: 5px;
		text-transform: unset;
		white-space: nowrap;
		padding: 5px 10px;
	}

	.nav {
		display: flex;
		// flex: 1;
		flex-direction: row;
		padding: 4px;
		cursor: pointer;
		border-bottom: 1px solid var(--border);
	}

	.path-editor {
		display: block;
		flex-direction: row;
		margin-top: 12px;
		margin-bottom: 12px;
		font-size: 1.02em;
		border: 1px solid var(--border);
		color: var(--header-foreground);
		background-color: var(--header-background);
		border-radius: 4px;
	}

	.path-div {
		display: block;
		flex-direction: row;
		padding: 4px;
		border: 1px solid var(--header-background);
	}

	.hidden {
		display: none;
	}

	.path {
		display: flex;
		flex-direction: row;

		.path-part {
			padding: 5px;
			list-style-type: none;
			border: 1px solid var(--border);
			border-radius: 3px;
			margin-bottom: 5px;
			font-size: 1.02em;
			cursor: pointer;

			&:not(:first-child) {
				margin-left: 5px;
			}

			&.active {
				font-weight: bold;
				color: var(--list-active-selection-foreground);
			}
		}

		.path-btn {
			align-content: right;
			font-size: 1.02em;
			border: 1px solid var(--border);
		}
	}

	.dialog-grid {
		display: grid;
		grid-template-columns: 2fr 0.3fr 0.8fr;
	}

	.headings {
		padding: 8px;
		font-size: 12px;
	}

	.file-area {
		flex: auto;
		display: flex;
		flex-direction: column;
		overflow: hidden;

		.dialog-entry {
			cursor: pointer;
			font-size: 12px;
			padding: 0px 8px;

			.dialog-entry-info {
				display: flex;
				flex-direction: row;
			}

			.dialog-entry-icon {
				width: 16px;
				height: 19px;
				margin-right: 5px;
			}

			.dialog-entry-size {
				text-align: left;
			}

			.dialog-entry-mtime {
				padding-left: 0px;
			}

			&:hover {
				background-color: var(--list-hover-background);
			}

			&.active {
				background-color: var(--list-active-selection-background);
				color: var(--list-active-selection-foreground);
			}

			&.disabled,
			&.disabled:hover {
				background-color: var(--primary);
				color: var(--disabled);
				cursor: initial;
			}
		}
	}

	.buttons {
		display: flex;
		flex-direction: row;
		padding: 10px;
		position: relative;
		background: var(--primary);
		border-top: 1px solid var(--border);

		button:first-child {
			margin-left: auto;
			margin-right: 10px;
		}

		button {
			background: transparent;
			outline: none;
			color: var(--titlebar);
			padding: 10px;
			padding-left: 18px;
			padding-right: 18px;
			transition: 150ms background ease, 150ms color ease;
			cursor: pointer;
			border-radius: 5px;

			&:hover {
				background: var(--titlebar);
				color: white;
			}
		}

		button[disabled],
		button[disabled]:hover {
			color: var(--disabled);
			cursor: initial;
		}

		button[active],
		button[disabled]:hover {
			color: var(--list-active-selection-foreground);
			cursor: initial;
		}
	}
}

.monaco-shell .monaco-tree.focused.no-focused-item:focus:before,
.monaco-shell .monaco-list:not(.element-focused):focus:before {
	display: none;
}

.folder-icon-dialog {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHBhdGggZmlsbD0iI0U4RThFOCIgZD0iTTYgNHY4bDQtNC00LTR6bTEgMi40MTRMOC41ODYgOCA3IDkuNTg2VjYuNDE0eiIvPjwvc3ZnPg==);
}