// These use -webkit-margin-before/after which don't work.
.monaco-workbench > .part > .title > .title-label h2,
.monaco-panel-view .panel > .panel-header h3.title {
	margin-top: 0;
	margin-bottom: 0;
}

.monaco-icon-label > .monaco-icon-label-description-container {
	margin-right: auto;
}

.monaco-icon-label > .decorations-wrapper {
	display: flex;
	flex-direction: row;
	padding-right: 12px;
}

.monaco-icon-label::after {
	margin-left: initial;
}

// We don't have rating data.
.extension-ratings {
	display: none !important;
}

// Using @supports to keep the Firefox fixes completely separate from vscode's
// CSS that is tailored for Chrome.
@supports (-moz-appearance:none) {
	// Fix buttons getting cut off on notifications.
	.monaco-workbench .notifications-list-container .notification-list-item .notification-list-item-buttons-container .monaco-button.monaco-text-button {
		max-width: 100%;
		width: auto;
	}

	.monaco-shell .screen-reader-detected-explanation .buttons a,
	.monaco-workbench > .part.editor > .content .editor-group-container > .title .tabs-container > .tab.sizing-shrink,
	.monaco-workbench .notifications-list-container .notification-list-item .notification-list-item-buttons-container .monaco-button {
		max-width: -moz-fit-content;
	}

	.monaco-workbench > .part.editor > .content .editor-group-container > .title .tabs-container > .tab.sizing-fit,
	.explorer-viewlet .panel-header .count,
	.extensions-viewlet > .extensions .extension > .details > .header-container > .header > .version,
	.debug-viewlet .debug-call-stack .stack-frame .label {
		min-width: -moz-fit-content;
	}
}

.window-appicon {
	background-image: url(./vscode-coder.svg) !important;
	background-size: 56px !important;
	width: 56px !important;
	margin-right: 4px;
}

.window-controls-container {
	display: none !important;
}