
}
:8000 {
	0ortLocalhost path_regexp port ^/([0-9]+)\/ide
        handle Localhost {
		uri prefix {re.port.1}/
                prroxy localhost:{re.port.1}
        }

	handle {
            
        }

}
