{
    "extends": "@ljharb",
    "root": true,
    "rules": {
		"func-style": 1,
		"operator-linebreak": [2, "before"],
    },
    "overrides": [
        {
            "files": "test/**",
            "rules": {
                "global-require": 0,
                "max-lines-per-function": 0,
				"no-negated-condition": 0,
            },
        },
    ],
}
