{
	"all": true,
	"check-coverage": false,
	"reporter": ["text-summary", "text", "html", "json"],
	"lines": 96,
	"statements": 96,
	"functions": 80,
	"branches": 87,
	"exclude": [
		"coverage",
		"test"
	]
}
