/* NOTE: Disable scrollbars since an oversized element creates them. */
.app-input {
  height: 100%;
  left: 0;
  outline: none;
  position: fixed;
  scrollbar-width: none;
  top: 0;
  width: 100%;
  z-index: 20;
}

.app-input::-webkit-scrollbar {
  display: none;
}

.app-render {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
