html,
body,
#root,
.center-container {
  height: 100%;
  width: 100%;
}

body {
  background: #272727;
  color: #f4f4f4;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  overflow: hidden;
}

button {
  font-family: inherit;
}

.center-container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 20px;
}
