.block-row {
  display: flex;
}

.block-row > .item {
  flex: 1;
}

.block-row > .item.-row {
  display: flex;
}

.block-row > .item > .sub {
  font-size: 0.95em;
}

.block-row .-link {
  color: rgb(87, 114, 245);
  display: block;
  text-decoration: none;
}

.block-row .-link:hover {
  text-decoration: underline;
}

.block-row > .item > .icon {
  height: 1rem;
  margin-right: 5px;
  vertical-align: top;
  width: 1rem;
}

.block-row > .item > .icon.-missing {
  background-color: rgb(87, 114, 245);
  color: #fff;
  text-align: center;
}

.block-row > .item > .icon.-missing::after {
  content: "?";
  font-size: 0.7rem;
  vertical-align: middle;
}

.kill-form {
  display: inline-block;
}

.kill-form > .kill {
  background-color: rgb(87, 114, 245);
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1rem;
  margin: 0;
  padding: 0;
}
