.info-blocks {
  max-width: 500px;
  width: 100%;
}

.info-block > .header {
  font-size: 1.3rem;
  margin: 1.5rem 0;
}

.info-block > .none {
  color: #b6b6b6;
}

.info-block + .info-block {
  border-top: 1px solid #666;
  margin-top: 1rem;
}

.block-row {
  display: flex;
}

.block-row > .item {
  color: #b6b6b6;
  display: flex;
  flex: 1;
  text-decoration: none;
}

.block-row > .item.-link {
  cursor: pointer;
}

.block-row > .item.-link:hover {
  color: #fafafa;
}

.block-row > .item > .icon {
  height: 1rem;
  margin-right: 5px;
  width: 1rem;
}

.block-row > .item > .icon.-missing {
  background-color: #eee;
  color: #b6b6b6;
  text-align: center;
}

.block-row > .item > .icon.-missing::after {
  content: "?";
  font-size: 0.7rem;
  vertical-align: middle;
}

.kill-form {
  display: inline-block;
}

.kill-form > .kill {
  background-color: transparent;
  border: none;
  color: #b6b6b6;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1rem;
  margin: 0;
  padding: 0;
}

.kill-form > .kill:hover {
  color: #fafafa;
}
