.login-form {
  align-items: center;
  color: rgba(0, 0, 0, 0.37);
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.login-form > .field {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.login-form > .field-error {
  margin-top: 1em;
}

.login-form > .field > .input {
  border: 1px solid #b6b6b6;
  box-sizing: border-box;
  padding: 1em;
  flex: 1;
}

.login-form > .field > .submit {
  background-color: transparent;
  border: 1px solid #b6b6b6;
  box-sizing: border-box;
  margin-left: -1px;
  padding: 1em 2em;
}

.login-header {
  align-items: center;
  color: #b6b6b6;
  margin-bottom: 1em;
}
