.update-form {
  text-align: center;
}

.update-form > .cancel {
  background-color: red;
}

.update-form > .error {
  color: red;
  margin-top: 16px;
}

.update-form > .links {
  margin-top: 20px;
}

.update-form > .links > .link {
  color: rgb(87, 114, 245);
  text-align: center;
  text-decoration: none;
}

.update-form > .links > .link:hover {
  text-decoration: underline;
}
