@supports (-moz-appearance:none) {
	/* Firefox doesn't support -webkit-margin-{before/after} so use margin. */
	/* These are the collapsible section headings in a sidebar panel. */
	.monaco-panel-view .panel > .panel-header h3.title {
		margin-bottom: 0;
		margin-top: 0;
	}

	/* Firefox doesn't seem to support fit-content. */
	/* These are the file tabs. */
	.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab.sizing-fit {
		min-width: -moz-fit-content;
	}
}
