@supports (-moz-appearance:none) {
	/*
	.monaco-workbench .notifications-list-container .notification-list-item .notification-list-item-buttons-container .monaco-button.monaco-text-button {
		max-width: 100%;
		width: auto;
	}

	.monaco-shell .screen-reader-detected-explanation .buttons a,
	.monaco-workbench > .part.editor > .content .editor-group-container > .title .tabs-container > .tab.sizing-shrink,
	.monaco-workbench .notifications-list-container .notification-list-item .notification-list-item-buttons-container .monaco-button {
		max-width: -moz-fit-content;
	}

	.monaco-workbench > .part.editor > .content .editor-group-container > .title .tabs-container > .tab.sizing-fit,
	.explorer-viewlet .panel-header .count,
	.extensions-viewlet > .extensions .extension > .details > .header-container > .header > .version,
	.debug-viewlet .debug-call-stack .stack-frame .label {
		min-width: -moz-fit-content;
	}
	*/
}
